.editPassword {
  min-height: 50vh;
  height: auto;
  padding: 5rem 0;
}
.editPassword__title {
  color: var(--mainColor);
  font-size: 2.8rem;
  margin-bottom: 5rem;
}
.editPassword__form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.editPassword__form-box label {
  font-size: 1.6rem;
}
.editPassword__form-box input {
  min-width: 12.5rem;
  width: 20rem;
  padding: 0.4rem 1rem;
  font-size: 1.3rem;
}
