.customBtn {
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  font-family: "El Messiri";
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.primaryBtn {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.primaryBtn:hover {
  background-color: var(--whiteColor);
  color: var(--mainColor);
}

/* .sBtn {
  background-color: var(--whiteColor);
} */
